.App{
  text-align: center;
}

.App{
  background-color: #FAE90E;
  height: 750px;
}

/* label {
  font-size: 20px;
  width: 100%;
  height: 40px;


}

label:hover {
  background-color: #138D75;
  color: white;

}

form {
  margin-top: 100px;
  margin-left: 40px
}
.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
  background-color: red;



}
#label1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: black;

  transition: 0.2s all;
  cursor: text;
  background-color: #FAE90E;
  
}
#name {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 10px;
  border-bottom: 2px solid black;
  box-shadow: none;
  color:blue;
  background-color:#FAE90E;
  font-weight: bold;


}
#name:invalid {
  outline: 0;
 
}
#name:focus,
#name:valid {
  border-color: black;
}
#name:focus~#label1,
#name:valid~#label1 {
  font-size: 20px;
  font-weight: bold;
  top: -24px;
  color: blue;
} */

button{
  background-color: #138D75;
  width: 50%;
  height: 40px;
 color: white;
 font-weight: bold;
}
button:hover{
  opacity: 0.8;
}
#head{
  color: red;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 5px 1px grey, 3px 3px 4px black, 10px 10px 10px grey;
}